/* --- Accordion --- */
.js .accordion {visibility: hidden}
.accordion {padding: 0px; font-size: 1.2em;}
.accordion li {list-style-type:none;padding: 2px 0px 0px 0px;}
.accordion li.last-child {list-style-type:none}/* the items that have no children */
.accordion li.last-child#current{border: 1px solid #999;border-radius: 15px;}
.lastChild{background-image: none;}
a.trigger {display:block; padding:0px 0px 8px 20px; background-image:url(../images/arrowRightBlack.png); background-repeat: no-repeat; background-position: 90% 30%;  font-weight:bold; color: #a0a0a0;}
.child_1 a.trigger{color: #000;font-weight: 100;}
a.trigger.open {background-image: url(../images/arrowDownBlack.png);font-weight: bold;background-color: #ddd;}
.last-child a.trigger{padding-left:10px; background-image:none; font-weight:normal}

.child1 .shown a.trigger .open{border-left: 1px solid;border-right: 1px solid;}

.child_1{padding: 0px 0px 0px 10px;font-size: 16px;}
.child_2{padding: 0px 0px 0px 10px;font-size: 14px;}
#current{padding: 5px 5px 0px 0px;}


.menuSC{font-weight: bold;font-size: 16px;color: #000!important;padding: 0px 0px 0px 20px;}
.loading{background-color: rgba(255,255,255,1);position: absolute;top:365px;left:390px;width: 200px;height: 200px;text-align: center;padding: 20px 0px;visibility: hidden;}
.sm .loading{visibility: visible;}


.category_tree a{
	color:#000;
	display:block;
	width:100%;
	height:100%;
	outline:none;
}

.level_Rtop{
	font-size: 16px;
	font-weight:bold;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	color:#F00
}

.level_Rtop a{
	color:#F00;
}

.level_Rlink{
	font-size: 14px;
	font-weight: normal;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
	font-size: 14px;
}

.linkRootchild{
	font-size: 14px;
	font-weight: normal;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 4px;
}

.linkRootchild0{
	font-size: 14px;
	font-weight: normal;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 7px;
}

.level_divider{
	width:100%;
	height:2px;
	background-color:#333;
	margin-bottom:8px;
	margin-top:5px;
}

.linkRootchild:hover, .linkRootchild0:hover{
	background-color:#eee;
}

.level_Stop{
	font-size:12px;
	font-weight:bold;
	padding: 3px 0px 4px 0px;
}

.level_Stop a{
	font-size:16px;
	color:#be0000;
}

.level_Stop:hover{
	background-color:#eee;
}

.level_Stop1{
	font-size:16px;
	padding:4px 0px 2px 5px;
	color: #d70000;
	/*background-image:url(../images/categories-tree-selected_root.gif);
	height: 32px;*/
	background-color: #eefefe;
	font-weight: bold;
}

.level_Stop2{
	font-size:16px;
	padding:4px 0px 5px 5px;
	color: #d70000;
	background-color: #eefefe;
}

#nolinkchild{
	font-size:14px;
	font-weight:normal;
	display:block;
	width:100%;
	height:100%;
	outline:none;
	padding: 0px 0px 0px 3px;
}

#linkchild{
	font-size:14px;
	font-weight:normal;
	padding:2px 0px 2px 15px;
}

#linkchild:hover{
	font-weight:bold;
	/*background-color:#eee;*/
}

#linkchildselected{
	font-size:14px;
	font-weight:normal;
	padding:2px 0px 2px 20px;
	background-image:url(../images/bkg_tree_current.jpg);
	background-repeat: no-repeat;
}